.buttonClass{
background-color: rgb(10, 165, 216);
color: #fff;
padding:10px 20px ;
border: none;
border-radius: 5px;
transition: 0.3s ease-in-out;
cursor: pointer;
}
.buttonClass:hover{
 opacity:0.8;
}