* {
  margin: 0;
  padding: 0;
}

.static-positioning {
  position: static;
  width: 200px;
  height: 200px;
  color: white;
  background-color: rgb(7, 135, 135);
  left: 20%;
  margin-bottom: 50px;
}

.relative-positioning {
  position: relative;
  width: 200px;
  height: 200px;
  color: white;
  background-color: rgb(22, 161, 9);
  left: 20%;
  top: 20px;
  margin-bottom: 50px;
}

.relative-positioning2 {
  position: relative;
  width: 200px;
  height: 200px;
  color: white;
  background-color: rgb(152, 6, 6);
  left: 20%;
  top: -120px;
  margin-bottom: 50px;
  z-index: 1;
}

.container2 {
  width: 100%;
  height: 100px;
  color: white;
  background-color: blue;
  position: relative;
}

.absolute-positioning {
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgb(20, 20, 20);
  background-color: rgb(215, 212, 13);
  margin-bottom: 50px;
}

.fixed-positioning {
  position: fixed;
  text-align: center;
  width: 200px;
  height: 200px;
  color: white;
  background-color: rgb(121, 6, 77);
  top: 100px;
  right: 100px;
  margin-bottom: 50px;
  /* z-index: 100; */

}

.container3{
  background-color: blueviolet;
height: 2000px;
}

.sticky-positioning{
  width: 100%;
  height: 50px;
  color: white;
  background-color: orange;
  position: sticky;
  top: 0;

}

